---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="px-12">
		<div class="pt-12 pb-12">
			<h1 class="text-white text-6xl">Welcome you <span class="text-gradient">Astro</span></h1>
		</div>
		<h1>her er der en potato men den er ikke en banan og det er den nemeli ikke den er heller ikke en ananas </h1>
	</main>
</Layout>
<style>
</style>
