---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Awesome Headline">
    <main class="px-12">
        <h1>
            Awesome Headline
        </h1>
        <h2>
            Jeg vil skrive men Jeg er ikke go til det
        </h2>
        <h3>
            hej du er en.<br /> Men også en ting.<br /> Du er men en så du vil ikke er en men du der af en stor ting.<br /> You are the.<br /> Men det kan du jo ikke.
        </h3>
        <p>
            hej<hr />lol så det er altser ikke <strong>en</strong> mere. <small>Ved at jeg er mig</small>
        </p><hr />
        <button class="favorite styled" type="button">Add to favorites</button>
        <div class="grid">
          <div>
            det vil jeg men. Jeg kan klatre. han og hun men det er også en ø med en å.

          </div>
          <div>
            det vil jeg men. Jeg kan klatre. han og hun men det er også en ø med en å.

          </div>
          <div>hej dem er der</div>
        </div>
    </main>
</Layout>
<style>
   *{
    color:rgb(2, 97, 26);
   } 
   h1{
    font-size: 150px ;
   }
   h2{
    font-size:50px ;
   }
   .styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 57, 0, 0.2),
    rgba(10, 58, 92, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
 .grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
 }
</style>